<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <h1>Welcome to the Fodder Management System</h1>
    </div>
    <div class="mdc-layout-grid__cell--span-4">
      <a th:href="@{/fodder/regular/allFodders}" class="mdc-button mdc-button--raised">
        <span class="mdc-button__label">Go to Fodder List</span>
      </a>
    </div>
    <div class="mdc-layout-grid__cell--span-4">
      <a th:href="@{/fodder/custom/customFd}" class="mdc-button mdc-button--raised">
        <span class="mdc-button__label">Go to Custom Fodder</span>
      </a>
    </div>
    <div class="mdc-layout-grid__cell--span-4">
      <a th:href="@{/approvalPage}" class="mdc-button mdc-button--raised">
        <span class="mdc-button__label">Go to Approval Page</span>
      </a>
    </div>
  </div>
</div>
</body>
</html>