<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kt.uz.javasiliaosystem.mapper.CustomFodderMapper">
    <select id="getAll" resultType="kt.uz.javasiliaosystem.entity.CustomFodderEntity">
        select * from customfodder
    </select>

    <!-- Result Map for CustomFodderEntity -->
    <resultMap id="CustomFodderResultMap" type="kt.uz.javasiliaosystem.entity.CustomFodderEntity">
        <id property="cfId" column="customFodderId"/>
        <result property="cfName" column="customFodderName"/>
        <result property="fdInfo" column="fdInfo"/>
        <result property="fdType" column="Type"/>
    </resultMap>

    <!-- Select all custom fodder -->
    <select id="selectAllCustomFodder" resultMap="CustomFodderResultMap">
        SELECT *
        FROM customfodder
    </select>

    <!-- Insert a new custom fodder -->
    <insert id="insertCustomFodder" parameterType="kt.uz.javasiliaosystem.entity.CustomFodderEntity">
        INSERT INTO customfodder (customFodderId, customFodderName, fdInfo, Type)
        VALUES (#{cfId}, #{cfName}, #{fdInfo}, #{type})
    </insert>

    <!-- Update an existing custom fodder -->
    <update id="updateCustomFodder" parameterType="kt.uz.javasiliaosystem.entity.CustomFodderEntity">
        UPDATE customfodder
        SET customFodderName = #{cfName},
            fdInfo = #{fdInfo},
            type = #{type}
        WHERE customFodderId = #{cfId}
    </update>

    <!-- Delete a custom fodder by id -->
    <delete id="deleteCustomFodder" parameterType="String">
        DELETE FROM customfodder
        WHERE customFodderId = #{cfId}
    </delete>

    <select id="selectCustomFodderById" resultMap="CustomFodderResultMap">
        SELECT *
        FROM customFodder
        WHERE customFodderId = #{cfId}
    </select>

</mapper>
