<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kt.uz.javasiliaosystem.mapper.UserMapper">
    <select id="getAll" resultType="kt.uz.javasiliaosystem.entity.UserEntity">
        select * from user
    </select>

    <select id="getUserById" resultType="kt.uz.javasiliaosystem.entity.UserEntity">
        select * from user where user_id = #{userId}
    </select>

    <select id="getUserInfo" resultType="kt.uz.javasiliaosystem.entity.UserEntity">
        select * from user where user_id = #{userId} and passwd = #{passwd}
    </select>

    <resultMap id="UserEntityResultMap" type="kt.uz.javasiliaosystem.entity.UserEntity">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
